project:
  type: website
  output-dir: docs

website:
  title: "Rocker Project"
  description: "Docker Containers for the R Environment"
  favicon: img/favicon.png
  image: img/rocker.png
  repo-url: https://github.com/rocker-org/website
  repo-actions: [source, edit]
  repo-branch: master
  page-footer:
    center: "![CC-BY](/img/cc-by.svg)"
  navbar:
    logo: img/rocker-bw.png
    background: primary
    search: true
    right:
      - text: Home
        href: index.md
      - text: Code of Conduct
        href: CODE_OF_CONDUCT.md
      - sidebar:images
      - sidebar:use
      - icon: github
        href: https://github.com/rocker-org
  sidebar:
    - id: images
      style: floating
      title: Images
      contents:
        - images/index.md
        - section: versioned stack
          contents:
            - images/versioned/r-ver.md
            - images/versioned/rstudio.md
            - images/versioned/binder.md
            - images/versioned/shiny.md
            - images/versioned/cuda.md
        - section: base stack
          contents:
            - text: r-base {{< fa arrow-up-right-from-square >}}
              href: https://hub.docker.com/_/r-base
            - text: rocker/r-base
              href: images/base/r-base.md
            - text: r-devel, drd, drp, r-devel-san, r-devel-ubsan-clang
              href: images/base/r-devel.md
        - section: Additional images
          contents:
            - text: r-ubuntu
              href: images/other/r-ubuntu.md
            - text: r-bspm
              href: images/other/r-bspm.md
        - text: ---
        - section: Other projects
          contents:
            - text: External images
              href: images/external.md
    - id: use
      title: Use
      contents:
        - use/extending.md
        - use/gui.md
        - use/editor.md
        - use/networking.md
        - use/shared_volumes.md
        - use/reproducibility.md
        - use/singularity.md

format:
  html:
    theme: [yeti, custom.scss]
    css: styles.css
    title-block-style: default
    title-block-banner: img/rockerwhale-optim.png
    title-block-banner-color: white
    page-layout: full
    toc: true
    toc-depth: 4
    number-sections: true
    code-overflow: wrap
