/* https://stackoverflow.com/questions/31641352 */


.sub-main {
  background: #FFFFFF;
  position: relative;
  z-index: 3; }

.sub-main-raised {
  margin: -60px 60px 0px 60px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }


