{{ define "body" }}
<body class="profile-page">
  {{ partial "nav-fixed-top.html" . }}
  <div class="wrapper">
	  <div class="header header-filter" style="background-image: url('{{ .Site.Params.background | relURL }}');">
	  </div>
		<div class="main main-raised">
	    <div class="container">
	    <div class="section">
        <h2 class="title text-center">{{ .Title }}</h2>
        <div class = "nav-align-left">
          <div class="row">
            <div class="col-md-2 text-left">
              <ul class="nav nav-pills nav-pills-primary" role="tablist">
                  {{ range .Site.Menus.sidebar }}
                   <li class="nav-item">
                      <a href="{{ .URL }}" data-toggle="tab" role="tab">
                        {{ .Pre }} {{ .Name }}
                      </a>
                    </li>
                  {{ end }}
              </ul>
            </div>
            <div class="col-md-8">
              <div class="tab-content gallery">
            	{{ .Content }}
              </div>
            </div>
          </div>
        </div>
	     </div>
	  </div>
  </div>
  </div>
  {{ partial "footer" . }}
</body>
{{ end }}