
{{ define "body" }}
<body class="profile-page">
  {{ partial "nav-fixed-top.html" . }}
  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('{{ .Site.Params.background | relURL }}');">
    </div>
		<div class="main main-raised">
			<div class="container">
		  	<div class="section text-left">
		  	  <h2 class="title text-center">{{ .Title }}</h2>
		  	  
		  	  
		  	             <nav class="navbar navbar-default">
                        	<div class="container-fluid">
	                            <div class="navbar-header">
	                            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar">
	                            		<span class="sr-only">Toggle navigation</span>
		                                <span class="icon-bar"></span>
		                                <span class="icon-bar"></span>
		                                <span class="icon-bar"></span>
		                            </button>
	                            	<a class="navbar-brand" href="#">Menu</a>
	                            </div>

	                            <div class="collapse navbar-collapse" id="example-navbar">
	                            	<ul class="nav navbar-nav">
	                        			<li class="active"><a href="#">Link</a></li>
	                            		<li><a href="#">Link</a></li>
	                                	<li class="dropdown">
	                                		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
												<b class="caret"></b>
											</a>
	                                    	<ul class="dropdown-menu dropdown-menu-right">
	                                        	<li class="dropdown-header">Dropdown header</li>
	                                        	<li><a href="#">Action</a></li>
		                                        <li><a href="#">Another action</a></li>
		                                        <li><a href="#">Something else here</a></li>
		                                        <li class="divider"></li>
		                                        <li><a href="#">Separated link</a></li>
		                                        <li class="divider"></li>
		                                        <li><a href="#">One more separated link</a></li>
		                                    </ul>
	                                	</li>
	                            	</ul>
	                            </div>
							</div>
                        </nav>
		  	  
	            {{ .Content }}
	      </div>
      </div>
		</div>
    {{ partial "footer" . }}
	</div>
</body>
{{ end }}
