name: Build and Deploy

on:
  push:
    branches:
      - master
    paths:
      - "**.md"
      - _quarto.yml
      - _extensions/**
      - "!README.md"
  pull_request:
    paths:
      - "**.md"
      - _quarto.yml
      - _extensions/**
      - "!README.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: "1.6.40"
      - name: Build
        run: quarto render

      - name: Upload artifact
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs

      - name: Deploy to GitHub Pages
        if: ${{ github.ref == 'refs/heads/master'}}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          cname: rocker-project.org
