name: Build and Deploy to Netlify

on:
  push:
    branches:
      - master
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.89.4"
      - name: Build
        run: hugo

      - name: Deploy preview to Netlify
        if: ${{ github.event_name == 'pull_request' }}
        uses: nwtgck/actions-netlify@v1
        with:
          production-deploy: false
          production-branch: master
          publish-dir: ./docs
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          alias: deploy-preview-${{ github.event.number }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1

      - name: Deploy to Netlify
        if: ${{ github.ref == 'refs/heads/main'}}
        uses: nwtgck/actions-netlify@v1
        with:
          production-deploy: true
          production-branch: master
          publish-dir: ./docs
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
